#screen1 {
    background: #FF9F00;
    user-select: none;
}
#screen1 p{
    margin-top:100px 0px;
}

#screen2 {
  background: #9B6100;
  user-select: none;
}

#signpic{
  border-bottom: 2px solid #FFF1C5 ;
  color: #000;
}
#home{
  border-bottom: 0;
  color: #757575;
}

span{
    driection : rtl;
    color: #1a1a1a;
}
div{
    position: relative;

}

.card {
    position: relative;
    display: inline-block;
    width: 75%;
    height: auto;
    margin: 7% auto;
    background: #4B2F00;
    border-radius: 4px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.profile-cover-container {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 175px;
    overflow: hidden;
    float: left;
}
.profile-cover-container img {
    width: 100%;
    height: auto;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 0;
}

.cover-overlay {
    z-index: 1;
    border-top-right-radius: 45%;
    border-top-left-radius: 45%;
    margin-top: -30%;
    width: 100%;
    height: 60px;
    background: #22313F;
    position: relative;
}

.profile-picture {
    background-image:url('../images/profimage.png');
    background-size: cover;
    top: 65px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    display: block;
    z-index: 1;
    border: 1px solid #949599;
    position: relative;
}

.profile-picture-outer-radius {
    width: 150px;
    height: 150px;
    top: -2px;
    left: 2px;
    border-radius: 50%;
    border: 3px solid #949599;
    position: relative;
}

.infobox {
    margin: 10px 50px 0px;
    color: #949599;;
}
.infobox p {
    margin-top: 0px;
    margin-bottom: 0;
}
.infobox-username {
    font-size: 1.5em;
    text-align: center;
    color: #99FFE3;
}

.align-left {
    left: 5%;
    float: left;
    text-align: left;
   color: #99FFE3;
}

.align-right {
  font-weight: 800;
  right: 5%;
    float: right;
    text-align: right;
    color: #99FFE3;
}

a{
    font-weight: 800;
    font-size: 27px;
    color:  #1d63ae;
    cursor: pointer;

}
a:hover{
    color: #184d8a;

}

.floating-action-button {
    height: 50px;
    width: 50px;
    border-radius: 55%;
    background: #2b8db0;
    background: -webkit-radial-gradient(#35B4E1, #0d2f6f);
    background: -o-radial-gradient(#35B4E1, #0d2f6f);
    background: -moz-radial-gradient(#35B4E1, #0d2f6f);
    background: radial-gradient(#35B4E1, #0d2f6f);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: white;
    position: relative;
    right: 150px;
    margin-bottom: 50px;
}
.floating-action-button:hover {
    background: #18b984;
    background: -webkit-linear-gradient( #103a8d, #35B4E1);
    background: -o-linear-gradient( #103a8d, #35B4E1);
    background: -moz-linear-gradient( #103a8d, #35B4E1);
    background: linear-gradient( #103a8d, #35B4E1);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}
.add_holder {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  padding: 8px 20%;
  background:rgba(200, 200, 200, 0.2);
  border:0px solid #dbdbdb;
}
.add_button {
  text-align: center;
  position: relative;
  margin: 10% 8% 10%;
  padding: 10px 10%;
  border:2px solid #184d8a;
  background-color:#1d63ae;
  color:#fafafa;
}
.add_button:hover  {
  background-color: #fafafa;
  color:#184d8a;
}
