<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}<title>About</title>{% endblock title %}
    {% block css %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">
{% block content %}
    <section id="screen2">
        <ul>
            <li><h2>"کتابتو جا بزار" چیه ؟</h2></li><br>
            <dd>      "کتابتو جا بزار"  یه وب سایته که  برای انجام راحت تر bookcrossing   یا کتاب در گردش  در ایران طراحی شده .
                نقل قول از ویکیپدیا:
            </dd>
            <dd>BookCrossing درواقع به معنای رها کردن کتاب در مکانهای عمومی است تا بوسیله اشخاص دیگر برداشته شود و بعد از خوانده شدن بار دیگر در مکانی عمومی رها شود تا دیگر افراد نیز از آن کتاب بهره مند شوند.</dd>
            <br><li><h2>کتابتو جا بزار" به چه درد میخوره ؟ </h2></li><br>
            <dd>اگر شما هم از علاقه مندان کتاب هستین و دوست دارین به وسیله ی جا گذاشتن کتاب هاتون کتاب خوانی رو ترویج بدین              اینجا میتونین هر کتابی که جا گذاشتین  و مکان اون رو ثبت کنید .</dd>
            <dd>کسی که کتابو پیدا میکنه با شناسه ی مخصوص اون کتاب در این سایت میتونه بفهمه این کتاب قبلا در اختیار چه کاربرانی بوده  و از چه مکان هایی سفر کرده تا به دست تون شخص رسیده.</dd>
            <dd> همچنین میتونین با مراجعه به سایت نزدیک ترین کتاب ها به مکان فعلیتون رو که جا گذاشته شدن و منتظر کسی برای خونده   شدن هستند رو پیدا کنید. </dd>
            <br><li><h2>راه ارتباطی من با سایت چیه؟</h2></li><br>
            <dd>در صورتی که نظری کلی در مورد سایت و کارکردش داشتین میتونین این فرم رو پر کنید و نظرتون رو برای ما ثبت کنید.</dd>
            <br><li><h2>چگونه میتونم مشارکت کنم؟</h2></li><br>
            <dd>بهترین راه مشارکت از این حرکت اجتماعی جا گذاشتن کتاب ها و ثبت اون ها در سایته .در صورتی که میخواین بیشتر به این پروژه کمک کنین از طریق این صفحه برای کمک مالی اقدام کنین.</dd>
        </ul>

    </section>

</body>
{% endblock content %}
</html>
