<!DOCTYPE html>
{% load staticfiles %}
{% load jformat %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}<title>Home History</title>{% endblock title %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/title.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
     <link href="{% static 'css/timeline.css' %}" rel="stylesheet">{% endblock css %}
</head>
<body>
    <nav>
        <ul>
          <li><a id="aboutnav" href="{% url 'about' %}">درباره ما</a></li>
          <li><a id="searchnav" href="{% url 'books:search' %}">جست و جو</a></li>
          {% if user.is_authenticated %}
            <li><a id="addbook" href="{% url 'books:addbook' %}">اضافه کردن کتاب</a></li>
          <li><a id="leavebook" href="{% url 'books:leavebook' %}">جا گذاشتن کتاب</a></li>
          {% endif %}
          <li><a id="booklist" href="{% url 'books:booklist' %}">لیست کتاب ها</a></li>
          <li><a id="home" href="{% url 'home' %}">خانه</a></li>



        </ul>
      {% if user.is_authenticated %}
      <form method="get" action="{% url 'acounts:profile' user.username %}">
        <button data-title="پروفایل" class="signPic" style="top:-65px"><img src="{% static 'images/cute.png' %}"></button>
      </form>
      <form method="get" action="{% url 'acounts:logout' %}">
        <button data-title="خروج" class="signupPic"><img src="{% static 'images/4.png' %}"></button>
      </form>
      {% else %}
      <form method="get" action="{% url 'acounts:signin' %}">
        <button data-title="ورود" class="signPic"><img src="{% static 'images/2.png' %}"> </button>
      </form>
      <form method="get" action="{% url 'acounts:signup' %}">
        <button data-title="عضو شو :)" class="signupPic"><img src="{% static 'images/5.png' %}"></button>
      </form>
        {% endif %}


    </nav>
<section>
{% block content %}
  {% if record %}
  <br><br><br>

  <h1>
            نام کتاب:
      {{book.book_name}}
      <br>
            نام نویسنده:
      {{book.book_author}}
  </h1>
  <div class="timeline">
      {% for rec,count,loc in record %}
           {% if count is 0 %}
              <div class="container1 left">
                <div class="content">
                  <h2>
                    {{rec.release_date.date|jformat:"%A %d %B %Y"}}<br>
                    {{rec.release_date.time|jformat:"ساعت %H:%M"}}
                  </h2>
                  <h3>
                    {% if user.pk is rec.user.pk %}
                    توسط
                      <a href="{% url 'acounts:profile' rec.user.username %}"><a1>شما</a1></a>
                       <br>
                     <h4>در حال خواندن کتاب</h4>
                    {% else %}
                    <a href="{% url 'acounts:profile' rec.user.username %}"><a1>{{ rec.user.username }}</a1></a>
                         توسط کاربر
                       <br>
:        در آدرس
                    <br>
                    <a href="http://www.openstreetmap.org/?mlat={{ rec.address.location_lat}}&mlon={{rec.address.location_lon}}#map=17/{{ rec.address.location_lat}}/{{rec.address.location_lon}}" target="_blank">{{loc}}</a>

                    {% if rec.address.details %}
                      <br>
                      جزییات آدرس :
                      {{rec.address.details }}
                    {% endif %}
                    <h4> ! جا گذاشته شد</h4>
                    {% endif %}
                  </h3>
                </div>
              </div>
            {% else %}
              <div class="container1 right">
                <div class="content">
                  <h2>
                    {{rec.release_date|jformat:"%A %d %B %Y"}}<br>
                    {{rec.release_date.time|jformat:"ساعت %H:%M"}}
                  </h2>
                  <h3>
                    {% if user.pk is rec.user.pk %}
                             توسط
                      <a href="{% url 'acounts:profile' rec.user.username %}"><a1>شما</a1></a>
                       <br>
                      <h4>در حال خواندن کتاب</h4>
                    {% else %}
                      <a href="{% url 'acounts:profile' rec.user.username %}"><a1>{{ rec.user.username }}</a1></a>
                         توسط کاربر
                       <br>
       : در آدرس
                      <br>
                    <a href="http://www.openstreetmap.org/?mlat={{ rec.address.location_lat}}&mlon={{rec.address.location_lon}}#map=17/{{ rec.address.location_lat}}/{{rec.address.location_lon}}" target="_blank">{{loc}}</a>

                    {% if rec.address.details %}
                      <br>
                      جزییات آدرس :
                      {{rec.address.details }}
                    {% endif %}
                    <h4> ! جا گذاشته شد</h4>
                    {% endif %}
                  </h3>
                </div>
              </div>
            {% endif %}
      {% endfor %}

  </div>
  {% endif %}

{% endblock content %}

</section>

</body>
</html>
