#screen1 {
    background: #403075;
    margin: auto;
}

#screen2 {
    height: auto;
    background: #13073A;
    border-radius: 5%;
    margin: 8% 5%;
    padding: 2px 10px;
    text-align: right;
    direction: rtl;
    color: #7887AB;
}

#screen2 h2{
    color: #fff;
    font-size: 35px;
    padding: 0;

}
#screen2 span {
    padding: 0;
    margin: 10px;
    color: #e5d0fb;
    font-size: 25px;

}
#screen2 dd{
    color: #e5d0fb;
    font-weight: 500;
    margin-right: 35px;
    line-height: 1.5;
    font-size:25px;
}

#aboutnav{
  border-bottom: 2px solid #b15317;
  color: #000;
}
#home{
  border-bottom: 0;
  color: #757575;
}
