#screen1 {
  background: #D4C66B;
}
#screen2 {
  background: #605300;
}

.add_holder {
  font-family:BMitra,ara_asmaa_beltajieregular,Courier New,sans-serif;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  padding: 8px 20%;
  color: #fff;
  background:rgba(200, 200, 200, 0.2);
  border:0px solid #dbdbdb;
}
.add_button {
  font-family:BMitra,ara_asmaa_beltajieregular,Courier New,sans-serif;
  text-align: center;
  position: absolute;
  right:39%;
  padding: 10px 10%;
  margin-bottom: 15%;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
.add_button:hover  {
  background-color: #fafafa;
  color:#207cca;
}

.search {
  font-family:BMitra,ara_asmaa_beltajieregular,Courier New,sans-serif;
  text-align: center;
  margin-top: 5%;
  padding: 8px 20%;
  color: #fff;
  background:rgba(200, 200, 200, 0.2);
  border:0px solid #dbdbdb;
}
.button {
  font-family:BMitra,ara_asmaa_beltajieregular,Courier New,sans-serif;
  margin-bottom: 15%;
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}

.list-type1{
  width:400px;
  margin:0 auto;
}

.list-type1 ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  padding: 0;
  margin-bottom: 4em;
}
.list-type1 ol ol{
  margin: 0 0 0 2em;
}

.list-type1 a{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #FFF6BF;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 10em;
  transition: all .2s ease-in-out;
}
#searchnav{
  border-bottom: 2px solid #b15317;
  color: #000;
}
#home{
  border-bottom: 0;
  color: #757575;
}
.list-type1 a:hover{
  background: #d6d4d4;
  text-decoration:none;
  transform: scale(1.1);
}

.list-type1 a:before{
  /*content: counter(li);*/
  /*counter-increment: li;*/
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background:#FFF6BF;
  height: 2em;
  width: 2.5em;
  line-height: 2em;
  border: .3em solid #fff;
  /*text-align: center;*/
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color:#FFF;
}

