<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Password Reset Done</title>{% endblock title %}
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/SignIn.css' %}" rel="stylesheet">
    {% endblock css %}

</head>
<body id="screen1">
{% block about %}<h1>Password Reset Done</h1>{% endblock about %}
{% block content %}
{% if user.is_authenticated %}
<p>you have already logged in</p>
{% else %}

  <div class="login-page">
    <p>You have successfully changed your password! You may now proceed to log in.</p>
      <div class="form">
        <form method="get" action="{% url 'acounts:signin' %}">
          <form class="login-form">
              <button>Return To Login</button>
          </form>
        </form>
      </div>
  </div>

{% endif %}
{% endblock content %}
</body>
</html>
