<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Password Reset</title>{% endblock title %}
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/SignIn.css' %}" rel="stylesheet">
    {% endblock css %}

</head>
<body id="screen1">
{% block about %}<h1>Password Reset</h1>{% endblock about %}
{% block content %}
{% if user.is_authenticated %}
<p>you have already logged in</p>
{% else %}
<form method="post" novalidate>
  <p>گذرواژه خود را فراموش کرده اید؟ آدرس پست الکترونیکی خود را وارد کنید ومنتظر ایمیل ما باشید</p>
  {% csrf_token %}
  <div class="login-page">
      <div class="form">
          <form class="login-form">
              {% include 'template_form.html' %}
              <button>ایمیل تغییر گذرواژه را بفرس</button>
          </form>
      </div>
  </div>
</form>
{% endif %}
{% endblock content %}
</body>
</html>
