<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Edit Profile</title>{% endblock title %}
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/UserProfile.css' %}" rel="stylesheet">
  <!--<link href="{% static 'css/search.css' %}" rel="stylesheet">-->
    {% endblock css %}

</head>
<body id="screen1">
{% block about %}{% endblock about %}
{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  <div class="card">
      <div class="profile-picture">
        <div class="profile-picture-outer-radius"></div>
        </div>
    <div class="infobox">
      <p class="infobox-username">پروفایلتو اینجا میتونی تغییر بدی!</p><br>

      <form class="login-form">
              {% include 'template_form.html' %}
              <button class="add_button">ثبت کن!</button>
      </form>
      </div>
  </div>
</form>
{% endblock content %}
</body>
</html>
