<!DOCTYPE html>
{% extends "homepage.html" %}
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
   {% block title %}<title>Sign in</title>{% endblock title %}
    {% block css %}

    <link href="{% static 'css/SignIn.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  {% endblock css %}

</head>
<body id="screen1">
{% block about %} {% endblock about %}
{% block content %}
<div class="login-page">
    <div class="form">
      <p>وارد شو</p>
        <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
            <span class="message">Not registered? <a href="{% url 'acounts:signup' %}">Create an account</a></span>
        </form>
    </div>
</div>
{% endblock content %}
</body>
</html>
