<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Password Reset Confirmation</title>{% endblock title %}
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/SignIn.css' %}" rel="stylesheet">
    {% endblock css %}

</head>
<body id="screen1">
{% block about %}<h1>
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
</h1>{% endblock about %}

{% block content %}
{% if user.is_authenticated %}
<p>you have already logged in</p>
{% else %}

  <div class="login-page">

    {% if validlink %}
    <h3 class="card-title">Change password for @{{ form.user.username }}</h3>
      <div class="form">
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'template_form.html' %}
          <form class="login-form">
              <button>Change Password</button>
          </form>
        </form>
      </div>
    {% else %}
    <h3 class="card-title">Reset Password</h3>
    <p>It looks like you clicked on an invalid password reset link. Please try again.</p>
    <div class="form">
      <form method="get" action="{% url 'acounts:pass_reset' %}">
        <form class="login-form">
          <button>Request another Link</button>
        </form>
      </form>
    </div>
  </div>
{% endif %}
{% endif %}
{% endblock content %}
</body>
</html>
