<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="icon" type="image/png" href="../images/favicon.ico"/>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/SignIn.css" rel="stylesheet">
    <script src="../SignPage.js"></script>
</head>
<body id="screen1">
<nav>
    <ul>
        <li><a href="homepage.html">Home</a></li>
        <li><a href="BookListPage.html">Book Lists</a></li>
        <li><a href="AddBookPage.html">Add Book</a></li>
        <li><a href="SearchPage.html">Search</a></li>
        <li><a href="#">About</a></li>
    </ul>

</nav>
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="SignPage.html">Sign In</a></p>
        </form>
    </div>
</div>
</body>
</html>