<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Add To Book Lists</title>{% endblock title %}
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/ProgressSteps.css' %}" rel="stylesheet">
    <link href="{% static 'css/AddBookPage.css' %}" rel="stylesheet">
    <link href="{% static 'css/title.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">
<section id="screen2">
{% block content %}
  <div class="container">
    <div class="progress">
      <div  class="circle active" style="margin-top: 0px">
        <span  class="label" >1</span>
        <span class="title" >0%</span>
      </div>
      <span class="bar"></span>
      <div class="circle">
        <span class="label">2</span>
        <span class="title">25%</span>
      </div>
      <span class="bar"></span>
      <div class="circle">
        <span class="label">3</span>
        <span class="title">50%</span>
      </div>
      <span class="bar"></span>
      <div class="circle">
        <span class="label">4</span>
        <span class="title">75%</span>
      </div>
      <span class="bar"></span>
      <div class="circle">
        <span class="label">5</span>
        <span class="title">100%</span>
      </div>
    </div>
    <div class="document">

      <h1>اطلاعات کتابی که</h1><h1>میخوای اضافه کنی رو اینجا وارد کن!</h1>

      <hr class="brace">
        <form method="post" novalidate>
        {% csrf_token %}

           {% include 'template2.html' %}

          <br><br><br><button class="add_button" style="margin-right:30px">ذخیره کتاب</button><br><br><br>

         </form>


      </div>
    </div>
{% endblock content %}
</section>
</body>

</html>
