<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Add To Book Lists</title>{% endblock title %}
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/AddBookPage.css' %}" rel="stylesheet">
  <link href="{% static 'css/title.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">
<section id="screen2">
{% block content %}
  <div class="container">

    <div class="document">

      <h1>کتابی که</h1><h1>میخوای اضافه کنی رو اینجا اضافه کن!</h1>

      <hr class="brace">
        <form method="post" novalidate>
        {% csrf_token %}

           {% include 'template2.html' %}
      {% if not books %}
          <br><br><br><button class="add_button">جستجو در فیدیبو</button><br><br><br>
      {% endif %}
         </form>

      {% if books %}
        {% for book in books %}
            {{book.name}}
            {{book.author}}
            {{book.translator}}
            {{book.ISBN}}
            <img src="{{book.pic}}">
            <form method="post" action="{% url 'books:downloadpdf' book.ISBN %}" >
              {% csrf_token %}
              <button> انتخاب</button>
            </form>
      {% endfor %}
      {% endif %}
      </div>
    </div>
{% endblock content %}
</section>
</body>

</html>
