<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Add To Book Lists</title>{% endblock title %}
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/AddBookPage.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">

{% block about %}{% endblock about %}
{% block content %}
<input type="text" placeholder="Book Name" required class="add_holder" style="margin-top:200px">
<input type="text" placeholder="Writer's Name" required class="add_holder">
<input type="text" placeholder="Location" required class="add_holder">
<br><br><br><input type="button" value="Add" class="add_button">
{% endblock content %}
</body>

</html>
