<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="fa">
    <meta charset="UTF-8">
  {% block title %}
  <title>Book Lists</title>
  {% endblock title %}
  {% block css %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/BookListPage.css' %}" rel="stylesheet">
  {% endblock css %}
</head>

<body id="screen1">

{% block about %} <p>لیست</p> {% endblock about %}
{% block content %}

{% if user_book %}
<div class="list-type1 infinite-container">
    <ol >
      {% for book in user_book %}
      <li>
          <a href="{% url 'books:bookdetail' book.pk %}" >{{ book.book.book_name }} {{ book.release_date }}</a>
      </li>
      {% endfor %}
    </ol>
    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}
    {% if page_obj.has_previous %}
        <a class="infinite-more-link" href="?page={{ page_obj.previous_page_number }}">Less</a>
    {% endif %}

    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>

</div>
{% else %}
    <p> no books are available. </p>
{% endif %}

<br><br><br><br><br><br>
<form action="{% url 'books:booklist_alphabetical'  %}" method="get">
{% csrf_token %}
    <input type="submit" class="button" value="بر اساس حروف الفبا" />
</form>
<br><br>
<form action="{% url 'books:booklist_newreleased'  %}" method="get">
{% csrf_token %}
    <input type="submit" class="button" value="بر اساس آخرین جا گذاشته ها" />
</form>
{% endblock content %}
</body>
</html>
