<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
  {% block title %}
  <title>Book Lists</title>
  {% endblock title %}
  {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/BookListPage.css' %}" rel="stylesheet">
  {% endblock css %}
</head>

<body id="screen1">

{% block about %} <p>list!</p> {% endblock about %}
{% block content %}

{% if user_book %}
    <ul id="book_list">
      {% for book in user_book %}
      <li>
          <a href="/books/{{ book.pk }}/" >{{ book.book.book_name }} {{ book.release_date }}</a>
      </li>
      {% endfor %}
    </ul>
{% else %}
    <p> no books are available. </p>
{% endif %}

    <div>
        <input type="radio" name="radio" id="radio1" class="radio" checked/>
        <label for="radio1">First Option</label>
    </div>

    <div>
        <input type="radio" name="radio" id="radio2" class="radio"/>
        <label for="radio2">Second Option</label>
    </div>

    <div>
        <input type="radio" name="radio" id="radio3" class="radio"/>
        <label for="radio3">Third Option</label>
    </div>

    <div>
        <input type="radio" name="radio" id="radio4" class="radio"/>
        <label for="radio4">Fourth Option</label>
    </div>

{% endblock content %}
</body>
</html>
