<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="fa">
    <meta charset="UTF-8">
    {% block title %}<title>مشخصات کتاب</title>{% endblock title %}

    {% block css %}
    <link href="{% static 'css/base.css' %} " rel="stylesheet">
    <link href="{% static 'css/BookListPage.css' %}" rel="stylesheet">
    <link href="{% static 'css/detailespage.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">
{% block about %}{% endblock about %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="login-page">
    <div class="form">
        <span> نام کتاب
        : {{ user_book.book.book_name }}</span><br><br>
        <span>     نویسنده
        : {{ user_book.book.book_author }}</span><br><br>
        <span><a href="{% url 'accounts:profile' user_book.user.username %}">{{ user_book.user.username }}</a>
          :
          اضافه شده توسط



        </span><br><br>
        <span>  : تاریخ اضافه شدن به لیست
        <br>
        {{ user_book.release_date }}</span><br><br>
        <span> : آدرس
        <br>
        {{ user_book.address }}</span>
    </div>
</div>
{% endblock content %}
</body>
</html>
