<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
{% load jformat %}

{% load disqus_tags %}
{% disqus_dev %}
<html>
<head lang="fa">
    <meta charset="UTF-8">
    {% block title %}<title>مشخصات کتاب</title>{% endblock title %}

    {% block css %}
    <link href="{% static 'css/base.css' %} " rel="stylesheet">
    <link href="{% static 'css/BookListPage.css' %}" rel="stylesheet">
    <link href="{% static 'css/detailespage.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">
{% block about %}{% endblock about %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="get" action="{% url 'books:booklist' %}">
 <button data-title="بازگشت" class="backbtn"><img src="{% static 'images/backbtn.png' %}"></button>
  </form>

<div class="login-page">
    <div class="form">
      <img id="book_pic" src="{% static 'images/pass.jpg' %}">
        <span> نام کتاب
        : {{ user_book.book.book_name }}</span><br><br>
        <span>     نویسنده
        : {{ user_book.book.book_author }}</span><br><br>
        <span><a href="{% url 'accounts:profile' user_book.user.username %}">{{ user_book.user.username }}</a>
          :
          اضافه شده توسط



        </span><br><br>
        <span>  : تاریخ اضافه شدن به لیست
        <br>
        {{ user_book.release_date.date |jformat:"%A %d %B %Y"}}</span><br>
        {{ user_book.release_date.time |jformat:"ساعت %M : %H"}}<br><br>
        <span> : آدرس
        <br>
        {{ user_book.address }}</span><br><br>
      <span>درباره کتاب :</span><br><br>
      <span>blah blah blah</span>
      {% disqus_show_comments %}
    </div>
</div>
{% endblock content %}
</body>
</html>
