<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Add To Book Lists</title>{% endblock title %}
    {% block css %}

  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <link href="{% static 'css/AddBookPage.css' %}" rel="stylesheet">
  <link href="{% static 'css/title.css' %}" rel="stylesheet">
  <link href="{% static 'css/leavebook.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">
<section id="screen2">
{% block content %}
  <div class="container">

    <div class="document">

      <h1>کتابی که</h1><h1>میخوای جابذاری رو اینجا اضافه کن!</h1>

      <hr class="brace">
      {{form.media}}
        <form method="post" novalidate>
        {% csrf_token %}
            <input type="text" placeholder="‌‌Bid کتاب " required class="add_holder" name="bid">
            {% for field in form.visible_fields %}

  {% for error in field.errors %}
          <small style="color: red">{{ error }}</small>
  {% endfor %}
  {{ field }}
{% endfor %}

          <br><br><br><button class="add_button">اضافه کن!</button><br><br><br>
         </form>
      </div>
    </div>
{% endblock content %}
</section>
</body>

</html>
