<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
{% load jformat %}
<html>
<head lang="en">

    {% block title %}<title>Add To Book Lists</title>{% endblock title %}
    {% block css %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">


    <link href="{% static 'css/AddBookPage.css' %}" rel="stylesheet">
  <link href="{% static 'css/title.css' %}" rel="stylesheet">
  <link href="{% static 'css/leavebook.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body id="screen1">
<section id="screen2">
{% block content %}
  <div class="container">

    <div class="document">

      <h1>کتابی که</h1><h1>میخوای جابذاری رو اینجا اضافه کن!</h1>

      <hr class="brace">
      {{ book.book_name }}
      <br>
      {{book.book_author}}
      <br>
      {{book.translator}}
      <br>
      {{ book.ISBN }}
      <br>
      <img src="{{book.picture}}">
      <br>
      <a href="http://www.openstreetmap.org/?mlat={{ location.location_lat}}&mlon={{location.location_lon}}#map=17/{{ location.location_lat}}/{{location.location_lon}}" target="_blank">{{loc}}</a>
<br>

      {{ time.date |jformat:"%A %d %B %Y"}}<br>
        {{ time.time |jformat:"ساعت %M : %H"}}<br><br>
      <form method="post">
        {% csrf_token %}
        <input type="submit" value="تایید">
      </form>
      <form method="get" action="{% url 'books:leavebook' %}">
        <input type="submit" value="بازگشت">
      </form>

      </div>
    </div>
{% endblock content %}
</section>
</body>

</html>
