<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="icon" type="image/png" href="../images/favicon.ico"/>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/AddBookPage.css" rel="stylesheet">
</head>
<body style="background: #9bde76">

<nav>
    <ul>
        <li><a href="homepage.html">Home</a></li>
        <li><a href="BookListPage.html">Book Lists</a></li>
        <li><a href="AddBookPage.html">Add Book</a></li>
        <li><a href="SearchPage.html">Search</a></li>
        <li><a href="#">About</a></li>
        <li><a id="SignPage" href="SignPage.html">Sign Up/Sign In</a></li>
    </ul>

</nav>

<input type="text" placeholder="Search..." required class="search">
<input type="button" value="Search" class="button">
</body>

</html>