<!DOCTYPE html>
{% extends "homepage.html" %}
{% load staticfiles %}
<html>
<head lang="en">

    {% block title %}<title>Search</title>{% endblock title %}
   {% block css %}
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/AddBookPage.css' %}" rel="stylesheet">
  {% endblock css %}
</head>
<body style="background: #9bde76">

{% block about %}<p>Enter the book name ,author or address</p>{% endblock about %}

{% block content %}
  <form method="get" action="{% url 'books:search_by' %}">
    <input type="text" placeholder="Search.." required class="search" name="field">
    <input type="submit" value="Search" class="button">
  </form>

{% if result %}
<div class="list-type1">
    <ol >
  {% for book in result %}
    <li>
      <a href="{% url 'books:bookdetail' book.pk %}" >{{ book.book.book_name }} {{ book.release_date }}</a>
    </li>
  {% endfor %}
      </ol>
</div>
{% else %}
    <p>no result found</p>
{% endif %}
{% endblock content %}

</body>

</html>
