<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Book Lists</title>
    <link rel="icon" type="image/png" href="../images/favicon.ico"/>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/BookListPage.css" rel="stylesheet">
</head>
<body id="screen1">

    <nav>
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="BookListPage.html">Book Lists</a></li>
            <li><a href="AddBookPage.html">Add Book</a></li>
            <li><a href="SearchPage.html">Search</a></li>
            <li><a href="#">About</a></li>
            <li><a id="SignPage" href="SignPage.html">Sign Up/Sign In</a></li>
        </ul>

    </nav>
    <p>list!</p>
    <ul id="book_list">
        <li><a href="#">Book number one</a></li>
        <li><a href="#">Book number two</a></li>
        <li><a href="#">Book number three</a></li>
    </ul>
    <div>
        <input type="button" name="radio" id="radio1" class="button" checked/>
        <label for="radio1">First Option</label>
    </div>

    <div>
        <input type="button" name="radio" id="radio2" class="button"/>
        <label for="radio2">Second Option</label>
    </div>

    <div>
        <input type="button" name="radio" id="radio3" class="button"/>
        <label for="radio3">Third Option</label>
    </div>

    <div>
        <input type="button" name="radio" id="radio4" class="button"/>
        <label for="radio4">Fourth Option</label>
    </div>
</body>
</html>